<footer class="bg-gray-800 text-white py-10 px-5">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8">
      <!-- Column 1: Logo and Paragraph -->
      <div>
        <img src="/assets/cml-logo.webp" alt="cheema" class="max-w-full h-auto max-h-24">
        <p class="text-base pt-3">Cheema is a Signboard-making company based in Sharjah, Dubai, dedicated to delivering top-notch services to meet your business needs.</p>
      </div>
      
      <!-- Column 2: Navigation Links -->
      <div>
        <h3 class="text-lg font-bold mb-4">Quick Links</h3>
        <ul>
          <li><a href="/" class="hover:text-gray-400">Home</a></li>
          <li><a href="/about" class="hover:text-gray-400">About Us</a></li>
          <li><a href="/contact" class="hover:text-gray-400">Contact</a></li>
        </ul>
      </div>
      
      <!-- Column 3: Services -->
      <div>
        <h3 class="text-lg font-bold mb-4">Signboard</h3>
        <ul>
          <li><a href="/3D-Signboard-Making-Company-in-Sharjah,UAE" class="hover:text-gray-400">3D Signboard</a></li>
          <li><a href="/Digital-Signboard-Making-Company-in-Sharjah,UAE" class="hover:text-gray-400">Digital Signboard</a></li>
          <li><a href="/Indoor-Signboard-Making-Company-in-Sharjah,UAE" class="hover:text-gray-400">Indoor Signboard</a></li>
          <li><a href="/Outdoor-Signboard-Making-Company-in-Sharjah,UAE" class="hover:text-gray-400">Outdoor Signboard</a></li>
          <li><a href="/Reception-Signboard-Making-Company-in-Sharjah,UAE" class="hover:text-gray-400">Reception Signboard</a></li>
        </ul>
      </div>
      
      <!-- Column 4: Stickers -->
      <div>
        <h3 class="text-lg font-bold mb-4">Stickers</h3>
        <ul>
          <li><a href="/Sticker-Branding-Company-in-Sharjah,UAE" class="hover:text-gray-400">Sticker Branding</a></li>
          <li><a href="/Van-Sticker-Printing-in-Sharjah,UAE" class="hover:text-gray-400">Van Sticker Branding</a></li>
          <li><a href="/Car-Sticker-Printing-in-Sharjah,UAE" class="hover:text-gray-400">Car Sticker Branding</a></li>
        </ul>
      </div>
      
      <!-- Column 5: Contact Details with Social Icons -->
      <div>
        <h3 class="text-lg font-bold mb-4">Contact Us</h3>
        <p class="text-base"><a href="mailto:sales@cheemaadv.com" class="hover:text-gray-400">Email: sales@cheemaadv.com</a></p>
        <p class="text-base"><a href="tel:+97165342331" class="hover:text-gray-400">Phone: +971 65 342 331</a></p>
      </div>
    </div>
    <div class="container mx-auto mt-4 border-t-2 border-white pt-2">
      <p class="text-center text-sm">&copy; 2024 Cheema Advertising. All Rights Reserved.</p>
    </div>
  </footer>
  